@import '@redsift/ui-rs-core/dist/css/ui-rs-core.min.css'
@import '@redsift/ui-rs-hero/dist/css/ui-rs-hero.min.css'
@import 'tingle.js/dist/tingle.min.css'

body
  overflow-x: hidden

.-bg-taxi
  background-image: url('../../assets/hero.jpg')
  background-color: rgb(42, 24, 22)
  background-image: -webkit-image-set(
    url('../../assets/hero.jpg') 1x,
    url('../../assets/hero-2x.jpg') 2x
  )

.hero-sticky-header--active
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15)
  background-image: url('../../assets/hero.jpg')
  background-image: -webkit-image-set(
    url('../../assets/hero.jpg') 1x,
    url('../../assets/hero-2x.jpg') 2x
  )

.content
  min-width: 230px

.container
  padding: 16px
  background-color: white
  width: 100%
  box-sizing: border-box

.centered
  display: flex
  justify-content: center

.sectionheader
  border-top: 1px solid #e0e0e0
  margin-top: 10px
  padding-top: 10px

.sectionheader.first
  border-top: none
  margin-top: 0px
  padding-top: 0px

.sectiontitle
  display: inline-block
  color: #81b6e0

.sectionsubtitle
  display: inline-block
  font-size: 12px

.stats__container
  display: flex
  align-content: center
  justify-content: center
  padding-bottom: 16px

.stat
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  border-right: 1px solid #e0e0e0
  height: 100px
  width: 33%
  box-sizing: border-box

.statnum
  display: inline-block
  margin-right: 6px
  font-size: 32px

.statdesc
  display: inline-block
  font-size: 12px

.stat.last
  border-right: none

.chart-pies text
  font-size: 12px

.currency__selector
  display: flex
  align-content: center
  justify-content: center

/*
* Toggle radio button
*/
input[type=radio]
  display: none

input[type=radio] + label
  display: inline-block
  margin: -2px
  padding: 1px 16px
  margin-bottom: 0
  font-size: 11px
  font-family: Electrolize,sans-serif
  font-weight: 400
  line-height: 20px
  color: #7F7F7F
  text-align: center
  vertical-align: middle
  cursor: pointer

input[type=radio]:checked + label
  color: #81b6e0
  text-decoration: underline;

.enable-conversion
  margin: 20px 0px 20px 0px

.select-currency
  width: 200px
  height: 40px
  margin: 20px 0px 20px 0px

button.tingle-modal__close
  border: none
  background: none

.popup,
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100%
  box-sizing: border-box

.bottom-separator
  border-bottom: 1px solid #e0e0e0

@media (max-width: 480px)
  .hero-sticky-header
    display: none

  .hero
    display: none

  .statnum
    font-size: 20px

  .statdesc
    font-size: 10px

  .content
    padding: 0px

  .container
    padding: 0px 8px 0px 8px

  .sectionheader.first
    padding-top: 4px

  .sectionheader
    padding-left: 4px

  .help
    display: none

@media (max-width: 230px)
  .container
    box-sizing: content-box
    padding: 0px

  .statnum
    font-size: 15px

  .stat
    flex-direction: column

@media (max-height: 230px)
  body
    overflow-y: hidden
